library(terra)
carbon = rast("./Avitabile_AGB_Map/Avitabile_AGB_Map.tif") # World map.
plot(carbon)
countries = vect("world_countries_boundary_file_world_2002.shp") 
countriesPr <- terra::project(countries,crs(carbon)) 

Ecuador = countriesPr[countriesPr$NAME == "Ecuador",] 
EcuadorABG <- mask(carbon, Ecuador)

####Write the raster file in computer.
writeRaster(EcuadorABG, "EcuadorABG.tiff",overwrite=TRUE,NAflag=-9999) 

####Multiply the raster by 0.49.
EcuadorBG = 0.25*EcuadorABG
EcuadorABBG =  EcuadorABG + EcuadorBG
plot(EcuadorABBG,ext = ext(Ecuador))

####Plot both below- and above-ground maps side by side.
par(mfrow = c(1,2))
plot(EcuadorBG, ext = ext(Ecuador))
plot(EcuadorABG, ext = ext(Ecuador))


#### 2. SOC
soc = rast("GSOCmap1.5.0.tif")
Ecuador2 <- terra::project(Ecuador,crs(soc)) 
EcuadorSOC <- mask(soc, Ecuador2)
library(sf)
EcuadorSOC2 <- terra::project(EcuadorSOC,crs(carbon))


####Make resolution.
library(rgeos)
library(sp)
library(rgdal)
library("FinancialMath")
library(raster)

r1 = EcuadorSOC2
r2 = Ecuador2
r.new = resample(r1, r2, "bilinear")
ex = ext(r.new)
r2 = crop(r2, ex)
r.new = mask(r.new, r2)
EcuadorABG2 = r2
EcuadorSOC3 = r.new

####The carbon in dead and litter carbon in tropical forests is 2.1 tons/hectare. We can add that do the map. The carbon in soil up to 30 cm depth is 65 tons/hectare (all these figures are from IPCC Tables 2.2 and 2.3). We can also add that up with the other maps.
EcuadorABG_CO2 = EcuadorABG2*0.49*(44/12) 
EcuadorrBG_CO2 = EcuadorBG*0.49*(44/12)
EcuadorSOC_CO2 = EcuadorSOC3*(44/12)*0.25
EcuadorLitter_CO2 = 2.1*(44/12)

total_CO2 = EcuadorABG_CO2 + EcuadorrBG_CO2 + EcuadorSOC_CO2 + EcuadorLitter_CO2

#####









